<h1><%= @user.username %></h1>
<p>edit your info below</p>


		<%= form_for(@user) do |f| %>
			<%= f.label :username %>
			<%= f.text_field :username %> <br/>
			<%= f.label :bio %>
			<%= f.text_area :bio %> <br/>
			<%= f.label :password %>
			<%= f.password_field :password %> <br/>
			<%= f.submit :update %>
		<% end %>

<p> <%= link_to "Back", :back %>
</p>