<!DOCTYPE html>
<html>
<head>
  <title>TumblrBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


		<% if current_user %>

			<p> <%= "Welcome #{current_user.username}" %> | <%= link_to "Your Profile", user_path(current_user) %> | <%= link_to "Users List", users_path %> |  <%= link_to "Logout", logout_path, method: "delete" %></p>

		<% else %> 

			<p><%= link_to "Sign in", login_path %> | <%= link_to "sign up", root_path %> </p>
		<% end %>

		<%= flash[:notice] if flash[:notice] %>
		<%= flash[:alert] if flash[:alert] %>

			<%= yield %>


</body>
</html>
